@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to top right, #a410c9, #2b023d);
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #892be221;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 4rem;
}
.navbar img {
    width: 100px;
}
.checkBtn {
    display: none;
}
#check {
    display: none;
}
.checkBtn {
    cursor: pointer;
    font-size: 25px;
    float: right;
    color: #ed1e79;
    line-height: 80px;
}

.right ul {
    gap: 10px;
    display: flex;
    list-style: none;
}

.right ul li a {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition: all 1s;
}
.right ul li a:hover {
    background-color: #fff;
    border-radius: 7px;
    color: #480758;
}
.right ul li a:active, .right ul li a:focus {
    background-color: #fff;
    border-radius: 7px;
    color: #480758;
}
@media screen and (max-width: 805px) {
    .list {
        width: 100%;
        height: min-content;
        background-color: #892be221;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 5rem;
        left: 100%;
        transition: all 1s;
    }
    #check {
        display: none;
    }
    .checkBtn {
        display: block;
    }
    #check:checked~ul {
        left: 0%;
    }
}
#home {
    height: 2000px;
    width: 100%;
}